@page

<div id="miDiv">
    <div id="miDivCursor">
        MOVEME NOMA
    </div>
</div>

<style>
    #miDiv
    {
        position: absolute;
        z-index: 9;
        padding: 25px;
        background-color: #f1f1f1;
        border: 1px solid #d3d3d3;
        textAlign: center;
    }

    #miDivCursor
    {
        padding: 10px;
        cursor:move;
        z-index: 10;
        background-color: #2196F3;
        color: #fff;
        
    }

</style>

