@page

<script>
    setInterval(function () {
        UpdateHome();
    }, 200);
</script>

<p id="v1"></p>
<p id="v2"></p>

<script src="~/js/signalr.js"></script>
<script src=~/js/HomeComunications.js></script>
