@page

<p id="v1">0</p>

<p class="imagen" id="img1">x1</p>
<p class="imagen" id="img2">x2</p>
<p class="imagen" id="img3">x3</p>
<p class="imagen" id="img4">x4</p>


<script>
    setInterval(function () {
        siguienteTurno();
    }, 1000);
</script>

<script>
    setInterval(function () {
        actualizarImagenes();
    }, 1000);
</script>

<style>
    #v1
    {
        font-size: 22px;
    }
</style>

<script src="~/js/signalr.js"></script>
<script src=~/js/HomeComunications.js></script>
<script src=~/js/EjemploComunications.js></script>
