@page

<p>Tiempo Servidor</p>
<p id="v1">0</p>

<p>Evento</p>
<p id="EventoActual">1</p>

<p>EventoRandom</p>
<p id="EventoRandom">Isla</p>

<p>Votos</p>
<p class="voto" id="voto1">0</p>
<p class="voto" id="voto2">0</p>
<p class="voto" id="voto3">0</p>
<p class="voto" id="voto4">0</p>

<p>Turnero</p>
<p id="TurnoActual">1</p>

<p>Orden Capitan</p>
<p id="Desicion">Null</p>

<p>Barco1</p>
<p id="barco1"></p>

<p>Barco2</p>
<p id="barco2"></p>

<p>Dados</p>
<p class="dado" id="val1">0</p>
<p class="dado" id="val2">0</p>

<p class="imagen" id="img1">x1</p>
<p class="imagen" id="img2">x2</p>
<p class="imagen" id="img3">x3</p>
<p class="imagen" id="img4">x4</p>


<style>
    #v1
    {
        font-size: 22px;
    }
</style>

<script src=~/js/signalr.js></script>
