@page

<p id="v1">1</p>

<script>
    setInterval(function () {
        console.log("hola");
        siguienteTurno();
    }, 1000);
</script>

<style>
    #v1
    {
        font-size: 22px;
    }

</style>

<script src="~/js/signalr.js"></script>
<!--<script src=~/js/HomeComunications.js></script> --> 
<script src=~/js/EjemploComunications.js></script>
